$color-primary:#212736;
$color-secundary:#E0B797;
$color-text:#1D1F22;
$light:#DFE7F2;
$enfasis:#E26021;

@mixin Titulo {
    font-family:'Heebo', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    color:$color-primary;
}
@mixin Subtitulo {
    font-family:'Assistant', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    color:$enfasis;
}
@mixin Texto {
    font-family:'Assistant', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.contenedor{
    display: flex;
    align-items: flex-start;
    max-width: 100vw;
    max-height: 100vh;

}
.box-header{
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-primary;

}
#navbar_logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size:cover;
    margin: 15px auto;
}

.box-header #landing_navbar a{
    @include Texto; 
    color: $color-secundary;
}

.box-icon{
    display: flex;
    align-items: center;
    color: $color-secundary;
    border-radius: 5px;
    transition: all .1s ease-out;
}
.box-icon i{
    padding: 10px 15px;
}
.box-icon:hover{
    cursor: pointer;
    background-color: $light;
    i{
        color: $color-primary;
    }
    a{
        color: $color-primary !important; 
    } 
}
#btn_irRegistro{
    padding: 10px;
    margin: 10px;
    background-color: $color-secundary;
    border:none;
    border-radius: 5px;
    color: $color-primary;
}
#btn_irRegistro:hover{
    background-color: $light;
}
#btn_irRegistro #link_registro{
    color:$color-primary;
    font-size: 16px;
    font-weight: 500;
}

.box-content{
    width: 100%;
    margin: auto;
}
.box-content .caja{
   display: flex;
   justify-content: space-between;
}
.caja-content{
    display: flex;
    justify-content: center;
    align-items: center;


}
.caja-content .box-img{
    width: 50%;
    padding: 20px;
} 
img{
    background-size: contain;
    width: 100%;
    height: auto;
}
.caja-content .box-form{
    width: 50%;
}
input{
    display: flex;
    height: 30px;
    color: $color-primary;
    flex-direction: column;
    margin: 10px 0;
}
#btn_enviar_registro{
    width: 20%;
    margin-top: 10px;
    padding: 5px;
    background-color: $enfasis;
    border: hidden;
    border-radius: 5px;
}
label{
    @include Texto;
    font-weight: 600;
}

.listado{
    padding: 5px 20px;
    font-size: 18px;
    color: $color-primary;
    font-weight: 600;

}
.caja .card_1{
    width: 50%;
    
}
//estilos para el contenedor principald e la infrmacion

h1{
    text-align: center;
    @include Titulo;
}
h2{
    padding: 0 20px;
    text-align: center;
    @include Subtitulo;
}
h3{
   font-size: 1rem;
   padding-left: 20px
   
}
p{
    @include Texto;
    font-size: 18px;
    padding: 20px;
}
.slider{
    display: flex;
    align-content:space-between;
    width: 100%;
    height: 312px;
    
}
.img__slider{
    width: 100%;
    height: 50%;
}
.fa-chevron-circle-left{
    position: absolute;
    margin-top: 10%;
    margin-left: 0%;
    padding-left: 20px;
    color: #E26021;
    font-size: 2rem;
}
.fa-chevron-circle-right{
    position: absolute;
    margin-top: 10%;
    margin-left: 80%;
    padding-right: 20px;
    color: #E26021;
    font-size: 2rem;
}
.caja{
    width: 100%;
    height: 100px;
    margin: auto;
    //justify-content: space-between;
}
.card{
    display: flex;
    //justify-content: space-between;
    align-items: center;
    width: 20%;
    height:80px;
    padding: 10px 10px;
    margin: 5px 15px;

}
.categoria{
    width: 40%;
    background-size: cover;
    border-radius: 50%;
}
.__span{
    color: $enfasis;
    padding-left: 20px;
}
.card__content{
    flex-direction: column;
    padding: 10px;
}
.section__moda{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    width: 100%;
    height: auto;

}
.card__moda_1{
    width: 33%;
    height: 200px;
    border-radius: 10px;
    background-image:url(./images/topbanner-01.jpg);
    background-size: cover;
    margin: 0 10px;
}
.card__moda_2{
    width: 33%;
    height: 200px;
    border-radius: 10px;
    background-image:url(./images/topbanner-02.jpg);
    background-size: cover;
    margin: 0 10px;
}
.card__moda_3{
    width: 33%;
    height: 200px;
    border-radius: 10px;
    background-image:url(./images/topbanner-03.jpg);
    background-size: cover;
    margin: 0 10px;
}
.btn-compra{
    border:none;
    background-color: $enfasis;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 30px 20px;
}
.btn-a{
    color: $light;
}
/*
*/

